@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom right, #f0f6ff, #e5e7ff);
}

.dashboard-mode {
  display: block;
}
